@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html, body {
        font-family: 'Noto Sans SC', sans-serif;
    }
    body {
        color: var(--color-dark-background);
    }
    .dark body {
        color: var(--color-background);
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@theme {
    --font-playwrite: "Playwrite HU", "sans-serif";
    --font-noto-sans: "Noto Sans SC", "sans-serif";

    --spacing-top-bar: calc(var(--spacing) * 16);
    --spacing-footer-bar: calc(var(--spacing) * 8);
    --spacing-main-height: calc(100vh - (var(--spacing-top-bar) + var(--spacing-footer-bar)));
    --spacing-main-width: calc(var(--spacing) * 240);

    --color-primary: rgba(4, 4, 54, 0.5);
    --color-dark-primary: rgba(4, 4, 54, 0.8);
    --color-secondary: rgba(251, 251, 201, 0.5);
    --color-dark-secondary: rgba(230, 230, 181, 0.8);
    --color-background: #FFFFFF;
    --color-dark-background: #121212;


    /*--color-primary: rgba(251, 251, 201, 0.8552);*/
    /*--color-dark-primary: rgba(4, 4, 54, 0.8552);*/
    /*--color-secondary: rgba(0, 0, 0, 0.8552);*/
    /*--color-dark-secondary: rgba(0, 0, 0, 0.8552);*/
    /*--color-background: oklch(0.921 0.1 17.32);*/
    /*--color-dark-background: oklch(0.921 0.1 197.32);*/

}